.datatable {
    background-color: #fff;
    height: 500px;
    padding: 30px;

    .whitespace {
        white-space: pre-wrap;
    }

    .avater {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}