.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-shadow: 19px 23px 24px 0px rgba(201,201,201,0.47);
-webkit-box-shadow: 11px 13px 14px 0px rgba(0,0,0,0.47);
border-radius: 10px;
background-color: white;
height: 100px;
.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title{ 
        font-weight: bold;
        font-size: 14px;
        color: rgb(160, 160, 160);
        }
        .counter{
            font-size: 28px;
            font-weight: 300;
        }
        .link{
            max-width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
        }
        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;
            &.postive{
                color: green;
            }
            &.negative{
                color: red;
            }            
        }
        .icons{
            font-size: 18px;
            padding: 5px;
            background-color: rgba(128, 0, 128, 0.304);
            border-radius: 5px;
            align-self: flex-end;
        }
}
}