.navbar {
    padding: 10px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    // display: flex;
    align-items: center;
    font-style: 14px;
    color: rgba(251, 251, 251, 0.73);
    background-color: rgba(17, 17, 17, 0.552);

    .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px;
        justify-content: space-between;

        menu {
            text-decoration: none;
            color: rgba(223, 207, 207, 0.582);
            cursor: pointer;
        }

        // background-color: rgb(255, 255, 255);
        .search {
            align-content: center;
            justify-content: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            button {
                cursor: pointer;
                height: 40px;
                width: 80px;
            }

            // background-color: lightgray;
            input {
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder {
                    font-size: 20px;
                }
            }
        }
    }

    .items {
        display: flex;
        align-items: center;

        .item {
            display: flex;
            align-items: center;
            margin-right: 20px;
            position: relative;
            cursor: pointer;

            .Main {
                font-family: sans-serif;
                background: #f0f0f0;
                height: 10vh;
                width: 10px;
                margin-right: 20px;

                .DropDownContainer {
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;


                    width: 10.5em;
                    margin: 0 auto;

                    .DropDownHeader {
                        margin-bottom: 0.8em;
                        padding: 0.4em 2em 0.4em 1em;
                        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
                        font-weight: 500;
                        font-size: 1.3rem;
                        color: #3faffa;
                        background: #ffffff;
                    }

                    .DropDownListContainer {
                        .DropDownList {
                            padding: 0;
                            margin: 0;
                            padding-left: 1em;
                            background: #ffffff;
                            border: 2px solid #e5e5e5;
                            box-sizing: border-box;
                            color: #191a1a90;
                            // color: #3faffa;
                            font-size: 1.3rem;
                            font-weight: 500;

                            &:first-child {
                                padding-top: 0.8em;
                            }

                            .ListItem {
                                list-style: none;
                                margin-bottom: 0.8em;
                                color: #0802028a;

                                &:hover {
                                    background: rgba(61, 5, 37, 0.793);
                                }
                            }
                        }
                    }
                }
            }

            .icons {
                font-size: 20px;
                cursor: pointer;
            }

            .avater {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            .counter {
                width: 15px;
                height: 15px;
                background-color: red;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                font-weight: bold;
                position: absolute;
                top: -5px;
                right: -5px;
            }
        }
    }
}