.help{
    .helpContainer{
        // background-color: rgba(54, 54, 68, 0.475);
        .widgets{
            background-color: rgba(8, 1, 1, 0.023);
            height: 68vh;
            display: flex;
            
            .left{
                width: 25%;
                height: 68vh;
                background-color: #eff;
                box-shadow: 2px 4px 10px 1px rgba(22, 20, 20, 0.945);
                -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.47);
            }
            .content{
                width: 50%;
                height: 68vh;
                background-color: rgb(243, 242, 242);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.945);
                -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.47);
                justify-content: center;
                align-items: center;
            }
            .right{
                width: 25%;
                height: 68vh;
                background-color: rgba(241, 230, 230, 0.164);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.945);
                -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.47);
            }
        }
        .Footer{
            display: flex; 
            flex-direction: column;
            height: 16vh;
        }
    }
}